<h1>New addition</h1>

<form action="/wizard_add">
  <label for="first_num">Add this:</label>
  <input id="first_num" name="first_num" type="text">

<label for="second_num">to this:</label>
<input type="text" id="second_num" name="second_num">
  <button>
    Add!
  </button>
</form>
