<h1>New division</h1>

<form action="/wizard_divide">
  <label for="first_field">Divide this:</label>
  <input id="first_field" name="first_num" text="text">

  <label for="second_field">by this:</label>
  <input id="second_field" name="second_num" text="text">

  <button>Divide!</button>
</form>
