<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="first_field">Multiply this:</label>
  <input type="text" id="first_field" name="first_num">

  <label for="second_field">by this:</label>
  <input type="text" name="second_num" id="second_field">

  <button>Multiply!</button>

</form>
