<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="first_field">Subtract this:</label>
  <input type="text" id="first_field" name="first_num">

  <label for="second_field">from this:</label>
  <input type="text" id="second_field" name="second_num">

  <button>Subtract!</button>
</form>
